@import "base/variables";
@import "base/animaciones";
@import "utilities/productos";
@import "utilities/envios";
@import "utilities/nosotros";
@import "utilities/contacto";

/* restart */

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    background-color: #FFF9C4;
}

.tituloPaginas{
    display: flex;
    justify-content: center;
    margin: 2rem;
    font-size: 2rem;
}

/* menu */

header{
    display: flex;
    justify-content: space-around;
    height: 5rem;
    background-color: rgb(46, 42, 42);
    align-items: center;
    gap: 1.9rem;
    justify-content: space-around;
    position: sticky;
    top: 0;
    z-index: 2;
    grid-area: header;
    div h1{
        color: $color-principal;
        font-size: 1.5rem;
        font-family: 'Roboto', sans-serif;
        font-style: oblique;
    }
    nav ul{
        display: flex;
        list-style: none;
        gap: 0.6rem;
    }
    .estiloMenu{
        list-style: none;
        background-color: $color-principal;
        font-weight: bold;
        margin: 0.3rem;
        padding: 0.6rem;
        text-align: center;
        border: 0.3rem outset rgba(255, 255, 0, 0.507);
        border-radius: 1.5rem;
    }
    nav ul li a{
        text-decoration: none;
        color: black;
    }
   
}



/* css index */

.fotoPrincipal{
    display: flex;
    justify-content: center;
    grid-area: fotoHome;
    .fotoHome{
        width: 80%;
    }
}

.conoce{
    display: flex;
    height: 12.5rem;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    grid-area: conoce;
}

.botonProductos{
    margin: 6.2rem;
    display: flex;
    justify-content: center;
    grid-area: verP;
    .verP{
        background-color: $color-principal;
        margin: 0.3rem;
        padding: 0.6rem;
        text-align: center;
        border: 0.3rem outset rgba(255, 255, 0, 0.507);
        border-radius: 3rem;
    } 
    .verP a{
        text-decoration: none;
        color: black;
        font-size: 2rem;
    }
}

footer{
    height: 6.2rem;
    display: flex;
    align-items: flex-end;
    background-color: rgb(46, 42, 42);
    grid-area: footer;
    h3{
        font-size: small;
        color: $color-principal;
    }
}

.imagen1{
    display: flex;
    justify-content: center;
    grid-area: img1;
    img{
        width: 100%;
    }
 }

.imagen2{
    display: flex;
    justify-content: flex-end;
    grid-area: img2;
    img{
        width: 70%;
    }
}

.imagen3{
    display: flex;
    justify-content: flex-end;
    grid-area: img3;
    img{
        width: 70%;
    }
}

/* grid index */

.contenedorPrincipal{
    width: 80%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto;
    grid-template-areas:"fotoHome fotoHome fotoHome"
                        "conoce conoce conoce"
                        "img1 img2 img3"
                        "verP verP verP";
}

/* footer pages */

footer h4{
    font-size: small;
    color: $color-principal;
}

/* media queries */

@media screen and (max-width:1023px){
   
    /* index */
    .contenedorPrincipal{
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto;
        grid-template-areas:"fotoHome"
                            "conoce"
                            "img1"
                            "img2"
                            "img3"
                            "verP";                     
    }
        header{
            justify-content: center;
            gap: 1rem;
            nav ul{
                justify-content: center;
            }
            div .estiloTitulo{
                text-align: center;
                font-size: 1.8rem;
            }
            .estiloMenu{
                display: flex;
                margin: 0px;
                padding: 0px;
                align-items: center;
            }
            .estiloMenu a{
                font-size: 1rem;
            }
            nav ul li a{
                font-size: 1.2rem;
            }
        }
    
        .conoce{
            height: 8rem;
            h2{
                font-size: 1.8rem;
            }
        }

        .imagen1{
            width: 70%;
            margin-left: 6.11rem;
            margin-bottom: 1rem;
        }

        .imagen2{
            justify-content: center;
            margin-bottom: 1rem;
        }

        .imagen3{
            justify-content: center;
        }

        .botonProductos{
            margin: 3rem;
        }

        /* productos */

        .menuProductos nav ul li{
            margin: 0.7rem;
            padding: 0.7rem;
            font-size: 1.3rem;
            font-weight: bold;
            nav ul{
                gap:3.5rem;
            }
            div h2{
                font-size: 2rem;
            }
        }

        .fotosProductos{
            justify-content: space-around;
            gap: 0.5rem;
            .img1{
                width: 30%;
            }
            .img2{
                width: 30%;
            }
            .img3{
                width: 30%;
            }
            .img4{
                width: 30%;
            }
        }

        /* envios */

        .estiloEnvios{
            width: 80%;
            gap: 2rem;
        }

        .fotoEnvios{
            height: 30rem;
        }

        /* contacto */
        .tituloFormulario{
            grid-area: contacto;
            text-align: center;
        }

        .estiloFormulario h3{
            grid-area: conocerte;
            text-align: center;
            .estiloFormulario2{
                grid-area: formulario;
               text-align: center;
            }
        }
    }
    
    @media screen and (max-width:599px){
        
        /* index */
    
        header{
            display: block;
            nav ul{
                justify-content: center;
            }
            .estiloTitulo{
                text-align: center;
                font-size: medium;
                margin-bottom: 1rem;
                font-size: 1.3rem;
            }
            nav ul .estiloMenu{
                display: flex;
                align-items: center;
                margin: 0px;
                padding: 0px;
            }
            nav ul .estiloMenu a{
                font-size: 0.8rem;
            align-items: center;
            }
        }
        
        .conoce h2{
            font-size: 1rem;
        }

        .imagen1{
            margin-left: 3.3rem;
        }

        .botonProductos{
            margin: 1rem;
            .verP a{
                font-size: 1rem;
            }
        }

        /* productos */ 

        .menuProductos .tituloPaginas h2{
            font-size: 1rem;
        }

        .fotosProductos{
            display: none;
        
        }
        
        .menuProductos nav ul{
            display: flex;
            flex-direction: column;
            margin: 1.5rem;
        
        }

        /* envios */
        .estiloEnvios{
            width: 80%;
            margin: 0 auto;
            display: grid;
            grid-template-columns: auto;
            grid-template-rows: auto auto;
            grid-template-areas:"envios" 
                                "foto";
        }

        .fotoEnvios{
            width: 100%;
        }
    }