/* css contacto */

.estiloFormulario{
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;
    border: 2px black;
}

.estiloFormulario2{
    border: none;
    margin-top: 10px;
    font-size: large;
}

.paginaFormulario{
    width: 70%;
    margin: 0 auto;
    margin-top: 30px;
   div .tituloFormulario{
    font-size: 2rem;
   }
}