/* css productos */
.menuProductos{
    width: 80%;
    margin: 0 auto;
    height: 100%;
    nav ul{
        display: flex;
        justify-content: space-around;
    }
    nav ul li{
        list-style: none;
        background-color: $color-principal;
        margin: 1.2rem;
        padding: 1.2rem 3.1rem 1.2rem 3.1rem;
        border: 0.3rem outset rgba(255, 255, 0, 0.507);
        border-radius: 1.5rem;
        text-align: center;
    }
}

.fotosProductos{
    height: 31rem;
    display: flex;
    justify-content: space-around;
    position: relative;
    margin-bottom: 2rem;
    .img1{
        width: 20%;
    }
    .img2{
        width: 20%;
    }
    .img3{
        width: 19.3%;
    }
    .img4{
        width: 19.3%;
    }
}